body {
    background-image: url('https://as1.ftcdn.net/v2/jpg/01/85/42/54/1000_F_185425447_CbQ4IQoRCD9duV0wfEJpIlutfrAbQakT.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: center;
    margin: 0; /* Ensure no default margin is interfering */
    height: 100vh; /* Makes sure the body takes at least the height of the viewport */
}

#game-container {
    background: rgba(0, 0, 0, 0.75); /* Semi-transparent dark background */
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    margin: 30px auto;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7); /* Cyan glow */
}

input[type="text"], button {
    background: #333;
    border: 1px solid #00ffff;
    color: #00ffff;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    background: #00ffff;
    color: #333;
    cursor: pointer;
}

#timer {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    #game-container {
        width: 90%;
        padding: 10px;
    }
}
